.formDiv {    
padding-left: 50px;      
display: flex;
justify-content: center;
}    
    
input[type=text],textarea ,select     
{    
  width: 100%;
  margin-top: 1%; 
  padding: 12px 20px;       
  border: 1px solid #ccc;    
  border-radius: 4px;    
  box-sizing: border-box;    
}    
    
input[type=submit]{    
   
  background-color: #4CAF50;    
  color: white;    
  padding: 14px 20px;    
  margin:20px 20px;    
  border: none;    
  border-radius: 4px;    
  cursor: pointer;    
}    
    
input[type=submit]:hover {    
  background-color: #3a8f3f;    
}    
.showError{    
  border-color: #a94442 !important;    
  color: #a94442 !important;   
}

.lbl-space{
  margin-top: 20px;
}
input[type=reset]{
  background-color:  #a94442;    
  color: white;    
  padding: 14px 20px;    
  margin: 20px 20px;    
  border: none;    
  border-radius: 4px;    
  cursor: pointer;  
}
input[type=reset]:hover {    
  background-color: #882f2e;    
}  
label{
  font-weight: bold;
}
.card{
  margin-right: 50px;
  margin-top: 2%;
  width:70%;
  background-color: rgba(255, 255, 255, 0.986);
  box-shadow:  -1px 6px 13px 0px rgba(0,0,0,0.44);
}